body{
  background-image: radial-gradient(circle, #695D00,#8B7B00,#AD9900);


}


h2{


}

p{
 color: #034b52 ;

}

.j{
    background-color: #3681f1;
    text-align: center;
}

.i{
  color:#060af1 ;

}

.d{
 color:#A60321 ;

}

.c{
 color: #01258F;

}

.s{
    color: #0a0edb;
}